{% extends 'base.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <form action="/register" method="post">

      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}

          <div>

          {{ field.label }}: {{ field }}

          <span>
            {% if field.errors %}
              {% for error in field.errors %}
                <b class="text-danger">{{ error }}</b>
              {% endfor %}
            {% endif %}
          </span>

        </div>

      {% endfor %}
    <button type="submit">Register</button>

  </form>
{% endblock %}
